<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX with Flask</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>AJAX with Flask Example</h1>
    <button id="fetch-data">Fetch Data</button>
    <div id="result"></div>
    
    <script>
        $(document).ready(function() {
            $('#fetch-data').click(function() {
                $.ajax({
                    url: '/data',
                    method: 'GET',
                    success: function(response) {
                        var result = '<p>Name: ' + response.name + '</p>';
                        result += '<p>Age: ' + response.age + '</p>';
                        result += '<p>City: ' + response.city + '</p>';
                        $('#result').html(result);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
